.background    { background: rgb(30, 200, 45);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 100, 100); }
.wall          { background: white;   }
.floater       { background: red;    }

.game {
  position: relative;
}
